In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import json
import urllib
import numpy as np

In [2]:
response = requests.get("http://results.enr.clarityelections.com/GA/63991/184321/en/select-county.html")
content = response.content

In [3]:
response.status_code

200

In [4]:
soup = BeautifulSoup(content, 'html.parser')

In [5]:
county_table = soup.find_all('table')[6]

In [6]:
# get all counties and links in a dataframe

rows = []
# loop through all links and return the name and link of each county
for a in county_table.find_all('a'):
    # enter county and value into a dictionary
    row = {}
    county = a.get('id')
    link = a.get('value')
    county_id = link.split('/')[2]
    row.update({"county": county,"county_id":county_id}) 

    #append dictionary to list
    rows.append(row)

# enter list into dataframe
df = pd.DataFrame(rows) 

df

            county county_id
0          Appling     63993
1         Atkinson     63994
2            Bacon     63995
3            Baker     63996
4          Baldwin     63997
5            Banks     63998
6           Barrow     63999
7           Bartow     64000
8         Ben Hill     64001
9          Berrien     64002
10            Bibb     64003
11        Bleckley     64004
12        Brantley     64005
13          Brooks     64006
14           Bryan     64007
15         Bulloch     64008
16           Burke     64009
17           Butts     64010
18         Calhoun     64011
19          Camden     64012
20         Candler     64013
21         Carroll     64014
22         Catoosa     64015
23        Charlton     64016
24         Chatham     64017
25   Chattahoochee     64018
26       Chattooga     64019
27        Cherokee     64020
28          Clarke     64021
29            Clay     64022
..             ...       ...
129         Talbot     64122
130     Taliaferro     64123
131       Tattnall     64124
132         Taylor     64125
133        Telfair     64126
134        Terrell     64127
135         Thomas     64128
136           Tift     64129
137         Toombs     64130
138          Towns     64131
139       Treutlen     64132
140          Troup     64133
141         Turner     64134
142         Twiggs     64135
143          Union     64136
144          Upson     64137
145         Walker     64138
146         Walton     64139
147           Ware     64140
148         Warren     64141
149     Washington     64142
150          Wayne     64143
151        Webster     64144
152        Wheeler     64145
153          White     64146
154      Whitfield     64147
155         Wilcox     64148
156         Wilkes     64149
157      Wilkinson     64150
158          Worth     64151

[159 rows x 2 columns]

In [7]:
results = []

def get_candidate(name):
    if "trump" in name.lower(): 
        return_name = name.replace("(REP)","").replace("(LIB)","").strip().title()
    elif "clinton" in name.lower():
        return_name = name.replace("(DEM)","").replace("(LIB)","").strip().title()
    else:
        return_name = "Other"
    return return_name
        

# loop through links for each county and return results for each candidate
for i in range(len(df)):
    county = df.county.loc[i]
    link = 'https://results.enr.clarityelections.com/GA/'+county.replace(" ", "_")+'/'+df.county_id.loc[i]+'/current_ver.txt'
    response = requests.get(link)
    content = response.content
    version = content.decode("utf-8")
    file = 'http://results.enr.clarityelections.com/GA/'+county.replace(" ", "_")+'/'+df.county_id.loc[i]+'/'+version+'/json/sum.json'
#     print(link)
    r = urllib.request.urlopen(file)
    data = json.loads(r.read().decode(r.info().get_param('charset') or 'utf-8'))
    values = data['Contests'][0]['V']
    candidates = data['Contests'][0]['CH']
#     print(values,candidates)
    for j in range(len(values)):
        row = {}
        candidate = get_candidate(candidates[j])
#         candidate = candidates[j].replace("(REP)","").replace("(DEM)","").replace("(LIB)","").strip()
        votes = values[j]
        row.update({"county":county,"candidate":candidate,"votes":votes})
        
        results.append(row)
        
# enter list into dataframe
georgia = pd.DataFrame(results) 

georgia

           candidate      county  votes
0    Donald J. Trump     Appling   5494
1    Hillary Clinton     Appling   1434
2              Other     Appling     77
3    Donald J. Trump    Atkinson   1878
4    Hillary Clinton    Atkinson    697
5              Other    Atkinson     35
6    Donald J. Trump       Bacon   3364
7    Hillary Clinton       Bacon    608
8              Other       Bacon     47
9    Donald J. Trump       Baker    775
10   Hillary Clinton       Baker    650
11             Other       Baker     15
12   Donald J. Trump     Baldwin   7697
13   Hillary Clinton     Baldwin   7970
14             Other     Baldwin    419
15   Donald J. Trump       Banks   6134
16   Hillary Clinton       Banks    684
17             Other       Banks    132
18   Donald J. Trump      Barrow  21108
19   Hillary Clinton      Barrow   6580
20             Other      Barrow   1143
21   Donald J. Trump      Bartow  29911
22   Hillary Clinton      Bartow   8212
23             Other      Bartow   1183
24   Donald J. Trump    Ben Hill   3739
25   Hillary Clinton    Ben Hill   2101
26             Other    Ben Hill     91
27   Donald J. Trump     Berrien   5422
28   Hillary Clinton     Berrien   1047
29             Other     Berrien    115
..               ...         ...    ...
447  Donald J. Trump  Washington   4149
448  Hillary Clinton  Washington   4200
449            Other  Washington     98
450  Donald J. Trump       Wayne   8153
451  Hillary Clinton       Wayne   2041
452            Other       Wayne    192
453  Donald J. Trump     Webster    630
454  Hillary Clinton     Webster    473
455            Other     Webster     13
456  Donald J. Trump     Wheeler   1421
457  Hillary Clinton     Wheeler    646
458            Other     Wheeler     35
459  Donald J. Trump       White   9761
460  Hillary Clinton       White   1674
461            Other       White    348
462  Donald J. Trump   Whitfield  21537
463  Hillary Clinton   Whitfield   7937
464            Other   Whitfield    924
465  Donald J. Trump      Wilcox   2096
466  Hillary Clinton      Wilcox    852
467            Other      Wilcox     25
468  Donald J. Trump      Wilkes   2572
469  Hillary Clinton      Wilkes   1848
470            Other      Wilkes     57
471  Donald J. Trump   Wilkinson   2333
472  Hillary Clinton   Wilkinson   1894
473            Other   Wilkinson     51
474  Donald J. Trump       Worth   6152
475  Hillary Clinton       Worth   2020
476            Other       Worth    108

[477 rows x 3 columns]

In [8]:
georgia.to_csv('georgia.csv')